@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* custom properties update these for your own design */

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* general styles */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/* typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  padding: 0.25em 1em;
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

.section__subtitle--intro {
  display: inline-block;
}

.logo .title {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  margin-left: 2em;
  letter-spacing: 0.2em;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  color: inherit;
  text-decoration: none;
}

@media (max-width: 420px) {
  .nav__link {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  .nav__link {
    font-size: 1.5rem;
  }
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}

/* Intro Section  */
.intro {
  position: relative;
}

.intro__img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

.section-one {
  /* color is in case the image does not load */
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.section__title--section-one {
  color: var(--clr-accent);
  position: relative;
}

.section__title--section-one::after {
  content: "";
  display: block;
  width: 3em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

/* About Me */
.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

/* My Work */

.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
  background: var(--clr-accent);
  overflow: hidden;
}

.portfolio__img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.porfolio__item:focus {
  position: relative;
  z-index: 2;
}

/* Footer */
.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}

/* portfolio item individual */
.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

figure figcaption {
  background-color: #eeeeee;
}

figcaption {
  color: black;
}

.card-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.card {
  padding: 0.5rem;
  height: 18rem;
  background-color: #ebeef8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 0;
  box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.2);
}

.profile-img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -12rem;
  z-index: 99;
  border: 1rem solid #ebeef8;
}

.card h3 {
  font-size: var(--fs-h3);
  color: #333;
  margin: 1.5rem 0;
}

.about {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-style: italic;
  text-align: center;
  color: #333;
}

.slide__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
}

@media screen and (min-width: 800px) {
  .slide__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5em;
  }
}

@media screen and (min-width: 700px) {
  .card-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
  }

  .card {
    padding: 1.5rem;
    margin: 5rem;
    transition: transform 0.5s;
  }
}

.slide {
  background-color: #333;
  margin-bottom: 2em;
}
.slide__info__title {
  text-align: center;
}

.slide__info__subtitle {
  text-align: center;
  margin: 0;
  font-weight: normal;
  font-style: italic;
}

.info {
  text-align: left;
}

.body {
  padding: 1em;
}

.body p {
  text-indent: 2em;
}

@media (max-width: 480px) {
  .body p {
    width: 40ch;
  }
}

@media (max-width: 380px) {
  .body p {
    width: 35ch;
  }
}

@media (max-width: 350px) {
  .body p {
    width: 30ch;
  }
}

.body h4 {
  text-align: center;
}

.card span {
  color: black;
  font-family: var(--ff-secondary);
}

.card p {
  max-width: 20ch;
  color: black;
}

figure:hover {
  transform: scale(1.1);
}

figure {
  transition: transform 200ms ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

a,
a:visited {
  color: inherit;
}

a:hover {
  color: var(--clr-accent);
}

iframe {
  width: 250px;
  height: 400px;
}

@media (min-width: 700px) {
  iframe {
    width: 560px;
    height: 315px;
  }
}
